body {
    background-color: #EEEEEE;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    background-color: rgb(55, 55, 55);
    padding: 20px;
    border-radius: 15px;
}

section {
    background-color: rgb(110, 110, 110);
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
}

footer {
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}

section>div {
    background-color: rgb(110, 110, 110);
    color: rgb(0, 238, 255);
    margin: auto;
    width: 150px;
    height: 50px;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

li {
    display: inline;
    margin: 0 50px 0 0;
    font-size: 18px;
}

#twitter {
    height: 590px;
    background: gray;
    background-color: rgb(110, 110, 110);

}

#twitter-timeline {
    background-color: gray;
    background: gray;

}

a:link {
    color: pink;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 255, 195);
    text-decoration: none;
}

a:hover {
    color: rgb(174, 255, 0);
    text-decoration: underline;
}

a:active {
    color: green;
    text-decoration: none;
}